@use 'variables';

.burger {
  position: fixed;
  top: 24px;
  right: 15px;
  z-index: 1001;

  width: 32px;
  height: 24px;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  color: inherit;

  &__line {
    width: 100%;
    height: 3px;
    border-radius: 999px;
    background-color: #1F75BB;
    transition: transform .3s ease, opacity .3s ease, background-color .3s ease;
  }

  &--active {
    .burger__line:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    .burger__line:nth-child(2) {
      opacity: 0;
    }

    .burger__line:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

@media (max-width: variables.$bp-lg) {
  .burger {
    display: flex;
  }
}