@use "sass:math";

//максимальная ширина контейнера
$container-max-width: 1310px !default;

//кол-во колонок
$grid-columns: 12 !default;

//расстояние между элементами 1
$grid-gap: 30px !default;
$grid-gap-side: math.div($grid-gap, 2);

//расстояние между элементами 2
$grid-gap-2: 20px !default;
$grid-gap-side-2: math.div($grid-gap-2, 2);

//контрольные точки
// $grid-breakpoints: (
//     xs: 480px, 
//     // sm: 576px,
//     md: 768px,
//     lg: 992px, 
//     // xl: 1240px,
//     // xxl: 1340px,
// ) !default;

@mixin container {
    margin: 0 auto;
    max-width: $container-max-width;
    padding: 0 15px;
}

@mixin row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$grid-gap-side};
    margin-right: -#{$grid-gap-side};

    & > * {
        margin-left: $grid-gap-side;
        margin-right: $grid-gap-side;
    }
}
@mixin row-2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$grid-gap-side-2};
    margin-right: -#{$grid-gap-side-2};

    & > * {
        margin-left: $grid-gap-side-2;
        margin-right: $grid-gap-side-2;
    }
} 

@mixin col($size) {
    flex: 0 0 auto;
    width: calc(#{percentage(math.div($size, $grid-columns))} - #{$grid-gap});
}

@mixin col-2($size) {
    flex: 0 0 auto;
    width: calc(#{percentage(math.div($size, $grid-columns))} - #{$grid-gap-2});
}

// брейк поинт

// @mixin media($width) {
//     @media(min-width: $width) {
//         @content;
//     }
// }

@mixin media($width) {
    @media screen and(max-width: $width) {
        @content;
    }
}

@mixin bp($name) {
    $width: map-get($grid-breakpoints, $name);
    @include media($width) {
        @content;
    }
}

// генерация колонок

// @each $bp, $width in $grid-breakpoints {
//     @include media($width) {
//         @for $i from 1 through $grid-columns {
//             .col-#{$bp}-#{$i} {
//                 @include col($i);
//             }
//         }
//     }
// }

@mixin flex {
    display: flex;
}

@mixin flex-v-center {
    display: flex;
    align-items: center;
}

@mixin flex-h-center {
    display: flex;
    justify-content: center;
}

@mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-all-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

