// @use "sass:math";     
@use 'variables';

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "IBMPlexSans-Regular", sans-serif;
    font-weight: 400;
    color: variables.$dark;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    background-color: variables.$light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

input,
textarea {
    padding: 0;
    display: block;
    width: 100%;
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.overflow {
    overflow: hidden;
}