// Основные цвета
$dark: #1C2B36; // основной текст
$mirage: #040b14; // тёмный фон (сайдбар/хедер)
$accent: #1F75BB; // акцентный синий 
$muted: #6B7A89; // дополнительный текст
$light: #FFFFFF; // светлый фон (контент)

$container: 1200px;
$sidebar-w: 300px; // ширина хедера на десктопе

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;